# "#"-Комментарий
# "*" -заменяет любое количество симоволов 
# "?" - заменяет один символ 
# "!" - инверсия правила (исключение из правила/шаблона)
# "[]" - указания соответсивя одному символу из заданого диапозона
# "**" - используется для указания любого количества поддиректорий
# "\" - экранизация спецсимволов

*.jpeg


